.inactive {
	display: none;
}

div#navigation div.red {
	background-color: #E47674;
}

div#navigation div.yellow {
	background-color: #FFFE7D;
}

div#navigation div.blue {
	background-color: #2B90D0;
}

div#navigation div.dark {
	background-color: #222223;
	color: #BBBCCC;
}