div#header {
	width: 100%;
	height: 35px;
	margin: 0 auto;
	position: static;

	background-color: #222222;
	background-image: -webkit-linear-gradient(right, #222222, #222223);
	background-image:    -moz-linear-gradient(right, #222222, #222223);
	background-image:     -ms-linear-gradient(right, #222222, #222223);
	background-image:      -o-linear-gradient(right, #222222, #222223);
	background-image:         linear-gradient(to left, #222222, #222223); 
}
	img#header_logo {
		width: 30px;
		margin-top: 4px; 
		margin-left: 5px;
		cursor: pointer;
	}
	div#header div#logoText {
		font-family: 'Droid Sans';
		font-size: 30px;
		color: #bbbccc;

		text-shadow: 0 0 3px 0px #F5F1F1;

		position: absolute;

		margin-top: 10px;
		margin-left: 5px;

		display: inline-block;
		cursor: pointer;
	}	
	div#header input[type="text"] {
		float: right;
		margin: 5px 5px;

		border: 1px solid #F2F9FA;
		border-radius: 3px;
		box-shadow: inset 0 0 5px rgba(0, 0, 0, .03);
		opacity: 0.9;

		font-family: 'Open Sans';
		font-size: 16px;
		line-height: 20px;
		text-align: center;
		color: #cccccc;
	}