div.highlightFrame:hover {
	background-color: rgba(0, 0, 0, .07);
	border: 1px solid rgba(0, 0, 0, .15);
	height: 272px;
	background-color: #cccccc;
	/*border-bottom-left-radius:  8px;*/
	/*border-bottom-right-radius: 8px;*/
}

div.highlightFrame:hover div.bottomBase {
	background-color: #222223;
	color: #ffffff;
}

div#navigation div#profile:hover div#profileMainTabText {
	background-color: #E68381;
}
div#navigation div#bets:hover div#betsMainTabText {
	background-color: #FFFD89;
}
div#navigation div#graphics:hover div#graphicsMainTabText {
	background-color: #409AD3;
}


div#profile:hover div.highlightFrame{
	background-color: #E68381;
}