body {
	font-family: 'Open Sans';
	font-size: 12px;
	line-height: 1.4em;
	width: 100%;
	height: 100%;
	color: #3d3e41;
}

#container {
	width: 100%;
	height: 100%;
	margin: 0 auto;

	border-left: 1px solid #f5f5f5;
	border-right: 1px solid #f5f5f5;

	background-color: #fbf7f7;
	background-image: -webkit-linear-gradient(bottom, white 31%, #fbf7f7 45%, #FBF4F4 100%);
	background-image:    -moz-linear-gradient(bottom, white 31%, #fbf7f7 45%, #FBF4F4 100%);
	background-image:      -o-linear-gradient(bottom, white 31%, #fbf7f7 45%, #FBF4F4 100%);
	background-image:     -ms-linear-gradient(bottom, white 31%, #fbf7f7 45%, #FBF4F4 100%);
	background-image:         linear-gradient(bottom, white 31%, #fbf7f7 45%, #FBF4F4 100%);
}

#navigation {
	height: 700px;
	width: 950px;
	position: relative;
	border-left: 1px solid rgba(0, 0, 0, .15);
	border-top: 1px solid rgba(0, 0, 0, .1);
	margin: 0px 5%;
	margin-left: 3%;
	margin-right: 15%;
}

.highlightFrame {
	float: left;
	height: 304px;
	width: 225px;
	margin: 5px 5px 0px 5px;
	border: 1px solid rgba(0, 0, 0, .05);
	background-color: #F2E3E3;
	border-radius: 1px;
	box-shadow: 1px 1px 15px rgba(0, 0, 0, .03);
}

.baseFrame {
	height: 288px;
	width: 190px;
	float: left;
	margin: 17px 17px;

	background-color: #E8E8ED;
	box-shadow: inset 0 0 10px rgba(0, 0, 0, .05), inset 0 0 1px rgba(0, 0, 0, .7);
	text-align: center;
	cursor: pointer;
}
		
	.baseFrameContainer {
		height: 288px;
		width: 190px;
		background-color: none;
	}
	.bottomBase {
		width: 190px;
		height: 25px;

		background-color: #81C0CB;

		border-bottom-left-radius:  5px;
		border-bottom-right-radius: 5px;

		box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.15);

		text-align: center;
		line-height: 26px;
	}
		

.photo {
	width: 190px;
	height: 256px;
}

.mainTabText {
	width: 190px;
	height: 32px;
	background-color: none;
	font-size: 17px;
	font-family: 'Open Sans';
	line-height: 30px;
}

.bottomTabText {
	font-size: 14px;
	font-family: 'Open Serif';
}