#optionBar {
	height: 210px;
	width: 30px;
	float: right;
	border-left: 1px solid rgba(0, 0, 0, .15);
	border-radius: 2px;
	position: relative;	
}
		
#optionBar img {
	width: 23px;
	height: 23px;

	margin-top: 7px;
	margin-left: 4px;

	opacity: 0.78;

	cursor: pointer;
}
	div#optionBar img[alt="write notes button"] {
		width: 22px;
		height: 22px;

		margin-left: 5px;
	}


#optionBar img:hover {
	margin-bottom: 6px;
	opacity: 0.9;

	   -moz-transform: scale(1.1); /* Для Firefox */
        -ms-transform: scale(1.1); /* Для IE */
    -webkit-transform: scale(1.1); /* Для Safari, Chrome, iOS */
         -o-transform: scale(1.1); /* Для Opera */
            transform: scale(1.1);
}