	
div#profileTopContent {
	background-color: none;
	width: 100%;
	height: 265px;
	margin: 60px 0px;
}
	div#profileTopContent h3.propertiesHeader {
		font-family: 'Open Sans';
		font-size: 14px;
		margin: -10px auto;
		padding: 17px;
		text-align: center;
		font-weight: bold;
		text-transform: uppercase;
	}
	div#profileTopContent div.baseTopContainer {
		background-color: none;
		border-top: 1px solid rgba(0, 0, 0, .05);
		width: 190px;
		height: 205px;
		margin: 18px 5px;
		margin-left: auto;
	}
		div#profileTopContent div#left {
			float: left;
			margin-left: 160px;
		}
		div#profileTopContent div#right { 
			float: left;
			margin-left: 189px;
		}
		div#profileTopContent p.horWideRuls {
			display: none;

			position: absolute;
			width: 100%;/* 95.2%;*/
			height: 43px;
			background-color: rgba(0, 0, 0, .001);
			box-shadow: inset 0 0 10px rgba(0, 0, 0, .02);

			line-height: 43px;
			font-family: 'Open Sans';
			text-align: center;
			font-size: 13px;

			text-transform: uppercase;
		}
			div#profileTopContent p#horizontalWideRuler1 {
				margin-top: 54px;
			}
			div#profileTopContent p#horizontalWideRuler2 {
				margin-top: 106px;
			}
			div#profileTopContent p#horizontalWideRuler3 {
				margin-top: 158px;
			}
		div#profileTopContent div.propertiesContainer {
			border-radius: 1px;

			margin: 0px 17px;

			background-color: rgba(232, 91, 88, .4);
			box-shadow: inset 0 0 3px rgba(0, 0, 0, .3);
		}

			div#profileTopContent div p {
				font-family: 'Open Sans';
				font-size: 13px;
				line-height: 25px;		
				margin: 0px 10px;
				text-align: center;
				background-color: #FBF8F8;
				border-radius: 2px;
				border: 1px solid rgba(0, 0, 0, .03);

				opacity: 0.9;
			}


			
div.topContent {
	-webkit-transition: display 0.5s;
	   -moz-transition: display 0.5s;
	     -o-transition: display 0.5s;
     	-ms-transition: display 0.5s;
	        transition: display 0.5s;
}


div.baseTopContainer:hover {
	background-color: #F3B6B5;
}