div#navigation div#horizontalBar {
		width: 100%;
		height: 57px;
		border-bottom: 1px solid rgba(0, 0, 0, .1);
		background-color: none;
		position: absolute;

		box-shadow: inset 1px 1px 1px 10px solid rgba(0, 0, 0, 1);
		z-index: 0;
}

.thickRuler {
	width: 100%;
	height: 5px;
	margin-top: 61px;
	position: absolute;
	border-bottom: 1px solid rgba(0, 0, 0, .01);
	border-radius: 3px;
}

div#redRuler {
	background-color: #E47674;
}

div#yellowRuler {
	background-color: #FFFE7D;
}

div#blueRuler {
	background-color: #2B90D0;
}