.node {
	width: 460px;
	height: 310px;
	background-color: rgba(0, 0, 0, .03);
	border-radius: 3px;
}

.frame {
	width: 220px;
	height: 300px;
	background-color: rgba(0, 0, 0, .07);
	border-radius: 3px;

	float: left;	

	margin: 5px 5px;
}


.left {
	
}
.right {

}

.frame:hover {
	background-color: rgba(0, 0, 0, 0.1);
}


.node:hover {
	width: 600px;
}