div.upTab:hover {
	background-color: #E16866;
}

	div.upTab:hover div.tabBottom {
		background-color: #222223;
		color: #BBBCCC;
	}

div#profileTab:hover {
	background-color: #E16866;
}
	
div#betsTab:hover {
	background-color: #FFFF70;
}

div#graphicsTab:hover {
	background-color: #1485CC;
}

div#comebackButton:hover {
	opacity: 0.83;

	   -moz-transform: scaleY(1.1); /* Для Firefox */
        -ms-transform: scaleY(1.1); /* Для IE */
    -webkit-transform: scaleY(1.1); /* Для Safari, Chrome, iOS */
         -o-transform: scaleY(1.1); /* Для Opera */
            transform: scaleY(1.1);
}