div.upTab {
	height: 25px;
	width: 190px;

	background-color: #A7D4DC;
	opacity: .9;
	float: left;
	margin-left: 1px;

	border-left: 1px solid rgba(0, 0, 0, .05);
	border-right: 1px solid rgba(0, 0, 0, .05);
	border-bottom: 1px solid rgba(0, 0, 0, .1);

	text-align: center;
	font-size: 16px;
	line-height: 25px;

	color: rgba(0, 0, 0, .7);

	cursor: pointer;
}

div.tabBottom {
	height: 25px;
	width: 190px;

	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	margin-top: 1px;
	background-color: #5AD7ED;
}

div#profileTab {
	margin-left: 16%;
}


div#comebackButton {
	float: left;
	background: url("../img/comeback.png") center center no-repeat;
	width: 28px;
	height: 19px;

	margin-top: 15px;
	margin-right: 5px;
	margin-left: 10%;
	cursor: pointer;
}