@(message: String)

@main("Wonder") {

	<div id="header">
			<img id="header_logo" src="@routes.Assets.at("images/wonder_logo.png")" alt="Logo" />
			<div id="logoText">Wonder</div>
			<input type="text" id="searchPanelText" value="Find what you want" />
	</div>
	
	<div id="container">
		<div id="optionBar">
			<img src="@routes.Assets.at("images/profileConfigurationIcon.png")" alt="option button" />
			<img src="@routes.Assets.at("images/writeNotesIcon.png")" alt="write notes button" />
			<img src="@routes.Assets.at("images/profileSecurityIcon.png")" alt="security options button" />
		</div>

		<div id="navigation">
			<div id="horizontalBar" class="inactive">
				<div id="comebackButton"></div>
			</div>
			<div id="redRuler" class="thickRuler inactive"></div>
			<div id="yellowRuler" class="thickRuler inactive"></div>
			<div id="blueRuler" class="thickRuler inactive"></div>

			<div id="mainTabContainer">
				<div class="highlightFrame" id="profile">
					<div class="baseFrame" >
					
						<div class="baseFrameContainer">
							<img class="photo" id="photo" src="@routes.Assets.at("images/photo.png")")>
							<div class="mainTabText" id="profileMainTabText">NeverHappened</div>	
						</div>
						<div class="bottomBase">
								<span class="bottomTabText" id="profileTabText">PROFILE</span>
						</div>
					</div>
				</div>	
				<div class="highlightFrame"  id="bets">
					<div class="baseFrame">
						<div class="baseFrameContainer">
							<img class="photo" id="photo2" src="@routes.Assets.at("images/photo2.jpg")")>
							<div class="mainTabText" id="betsMainTabText">October, 25, 2013</div>
						</div>
						<div class="bottomBase">
							<span class="bottomTabText" id="betsTabText">EVENTS</span>
						</div>
					</div>
				</div>
				<div class="highlightFrame"  id="graphics">
					<div class="baseFrame">
						<div class="baseFrameContainer">
							<img class="photo" id="photo3" src="@routes.Assets.at("images/photo3.jpg")")>
							<div class="mainTabText" id="graphicsMainTabText">Candles Chart</div>
						</div>
						<div class="bottomBase">
							<span class="bottomTabText">GRAPHICS</span>
						</div>
					</div>
				</div>
			</div>

			<div id="upTabContainer">				
				<div class="upTab inactive" id="profileTab" >
					NeverHappened
					<div class="tabBottom">
						PROFILE
					</div>
				</div>
				<div class="upTab inactive" id="betsTab">
					September, 13, 2013
					<div class="tabBottom">
						EVENTS
					</div>
				</div>
				<div class="upTab inactive" id="graphicsTab">
					Show Chart
					<div class="tabBottom">
						GRAPHICS
					</div>
				</div>
			</div>

			<div id="topContentContainer">
				<div id="profileTopContent" class="topContent inactive">
					<p class="horWideRuls" id="horizontalWideRuler1"></p>
					<p class="horWideRuls" id="horizontalWideRuler2"></p>
					<p class="horWideRuls" id="horizontalWideRuler3"></p>
					<div class="baseTopContainer" id="left">
						<h3 class="propertiesHeader">Marks</h3>
						<div class="propertiesContainer">
							<p>Points: <br>10.6</p>
							<p>Level: <br>2</p>
							<p>Balance: <br>-3.5/+2.1</p>
						</div>		
					</div>
					<div class="baseTopContainer" id="right">
						<h3 class="propertiesHeader">Statistics</h3>
						<div class="propertiesContainer">
							<p>Win/Lose: <br>7/5</p>
							<p>Win/Lose Percent: <br>58/42</p>
							<p>Average Complexity: <br>1.7</p>
						</div>
					</div>
				</div>
				<div id="betsTopContent" class="topContent inactive">
				</div>
				<div id="graphicsTopContent" class="topContent inactive">	
					<!--<canvas id="canvas"></canvas>-->
				</div>
			</div>
		</div>
	</div> 
}
